RAG Chat - Free Version.json
{
  "name": "RAG Chat - Free Version",
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "fe732dcd-4c78-4daa-abe4-54879fcda5e9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        272
      ],
      "webhookId": "2d28f6ca-1396-49f4-adbf-0d05cc1c544a"
    },
    {
      "parameters": {
        "jsCode": "const question = $json.body.question || $json.query?.question || '';\n\nif (!question || question.trim().length < 3) {\n  throw new Error('Question is required and must be at least 3 characters');\n}\n\nreturn [{\n  json: {\n    question: question.trim(),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "93556afb-7eb6-4347-afd1-cf0b800f7490",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/embedding-001:embedContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/embedding-001\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"{{ $json.question }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "4bfc8321-e0de-4252-a73b-89404fdea7e7",
      "name": "Question Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_BASE_URL }}/collections/{{ $env.QDRANT_COLLECTION }}/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ $json.embedding.values }},\n  \"limit\": 5,\n  \"score_threshold\": 0.7,\n  \"with_payload\": true\n}",
        "options": {}
      },
      "id": "680ef618-39f3-48ff-ad3d-875cc9669800",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $json.result || [];\nconst question = $('Validate Input').item.json.question;\n\nif (results.length === 0) {\n  return [{\n    json: {\n      no_context: true,\n      question: question\n    }\n  }];\n}\n\n// Costruisci il contesto\nconst contextText = results.map((item, i) => \n  `DOCUMENTO [${i+1}] (Fonte: ${item.payload.source}, Rilevanza: ${(item.score * 100).toFixed(1)}%):\\n${item.payload.text}`\n).join('\\n\\n---\\n\\n');\n\nconst sources = [...new Set(results.map(item => item.payload.source))];\n\nconst prompt = `Sei un assistente AI esperto. Rispondi alla domanda dell'utente basandoti ESCLUSIVAMENTE sul contesto fornito.\n\nCONTESTO:\n${contextText}\n\nDOMANDA:\n${question}\n\nSe la risposta non è nel contesto, rispondi \"Non ho trovato informazioni a riguardo nei documenti\". Cita le fonti usando [numero documento].`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    question: question,\n    sources: sources\n  }\n}];"
      },
      "id": "c9f1facc-744e-4a04-8286-5c8160f74467",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.prompt }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"topP\": 0.9,\n    \"maxOutputTokens\": 2048\n  }\n}",
        "options": {}
      },
      "id": "e73e08d8-4069-4837-9697-e4e21f11a93e",
      "name": "Gemini Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare Context').item.json;\n\nif (context.no_context) {\n  return [{\n    json: {\n      success: true,\n      answer: \"Non ho trovato informazioni rilevanti nei documenti per rispondere.\",\n      question: context.question,\n      metadata: { sources: [] }\n    }\n  }];\n}\n\nconst geminiResponse = $input.first().json;\nlet answer = \"Si è verificato un errore.\";\n\ntry {\n  answer = geminiResponse.candidates[0].content.parts[0].text;\n} catch (e) {\n  console.error(\"Errore nel parsing della risposta di Gemini\");\n}\n\nreturn [{\n  json: {\n    success: true,\n    answer: answer,\n    question: context.question,\n    metadata: {\n      sources: context.sources || [],\n      model: \"gemini-pro\",\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "609191fa-4c68-4e41-9adb-e3a2f10b0fda",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Question Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question Embedding": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Gemini Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "754942d3-9250-4e8c-9a38-f7feda91b343",
  "meta": {
    "instanceId": "317ffae62ba1601ac6b1b6574a98e7f37b33d9d3cc5401ebe2bfa6f8c37223ff"
  },
  "id": "q2N6e0PZpPldse5x",
  "tags": []
}